@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

.setMaximumSize {
  width: 100% !important;
  z-index: 999;
  height: 100% !important;
  top: 0;
  margin-top: 0 !important;
  left: 0 !important;
}

.MuiBox-root.css-i9gxme {
  height: 100%;
}

.MuiBox-root .MuiGrid-container {
  height: 100%;
}

.MuiGrid-root .MuiGrid-item:nth-child(1) {
  height: 8%;
  min-height: 59px;
}
// .MuiGrid-root .MuiGrid-item:nth-child(2) {
//   height: 30%;
// }
// .MuiGrid-root .MuiGrid-item:nth-child(3) {
//   height: 30%;
// }
.MuiGrid-root .MuiGrid-item:nth-child(6) {
  height: 65%;
}

.MuiPaper-root .MuiPaper-elevation {
  height: 100%;
}

.interview {
  &__block {
    &__bar {
      &__left {
        float: left;
        height: 100%;
        display: flex;
        align-items: center;
      }
      &__center {
        height: 100%;
        display: inline-flex;
        align-items: center;
      }
      &__right {
        float: right;
        height: 100%;
        align-items: center;
        display: flex;
      }
    }
  }
  &__button {
    position: relative;

    &__previousButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      transition: 0.3s ease all;

      &:hover {
        background: rgba(rgb(100, 100, 255), 0.2);
      }

      &__span {
        position: absolute;
        width: 100%;
        left: 0;
      }
    }

    &__nextButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      transition: 0.3s ease all;

      &:hover {
        background: rgba(rgb(100, 100, 255), 0.2);
      }

      &__span {
        position: absolute;
        width: 100%;
        right: 0;
      }
    }

    &__minimization {
      height: 22px;
      width: 22px;
      margin-right: 4px;
      border: none;
      border-radius: 5px;
      background: white;
      cursor: pointer;

      &:hover {
        background: #eaecff;
      }
    }
    &__maximize {
      height: 22px;
      width: 22px;
      margin-right: 4px;
      border: none;
      border-radius: 5px;
      background: white;
      cursor: pointer;

      &:hover {
        background: #eaecff;
      }
    }
    &__close {
      height: 22px;
      width: 22px;
      border: none;
      border-radius: 5px;
      background: white;
      cursor: pointer;

      &:hover {
        background: #eaecff;
      }
    }

    &__makediv {
      text-align: right;
    }

    &__make {
      position: absolute;
      right: 30px;
      bottom: 60px;
      width: 110px;
      height: 40px;
      border: none;
      border-radius: 5px;
      background: rgb(88, 155, 255);
      color: white;
      cursor: pointer;
    }
  }
  &__answer {
    &__add {
      border: none;
      border-radius: 3px;
      background: rgb(88, 155, 255);
      color: white;
      width: 50px;
      height: 25px;
    }
    &__remove {
      border: none;
      border-radius: 3px;
      background: rgb(88, 155, 255);
      color: white;
      width: 50px;
      height: 25px;
      margin-left: 5px;
    }
    &__save {
      border: none;
      border-radius: 3px;
      background: rgb(88, 155, 255);
      color: white;
      width: 100%;
      height: 30px;
      margin-top: 10px;

      @include breakpoint(md) {
        width: 150px;
        height: 40px;
        margin-top: 20px;
      }
    }
  }
}

.MuiPaper-root .MuiBox-root.css-jj6133 {
  height: 100%;
}

.answer {
  &__correct {
    &__mark {
      background: yellow;
    }
  }
  &__example {
    text-align: left;
    cursor: pointer;
    // width: calc(100% - 50px);
    margin: 5px 50px 0px 50px;
  }
  &__question {
    text-align: left;
    margin: 15px 30px 5px 30px;
    color: black;
    font-size: 1.1rem;

    &__correctButton {
      float: right;
      border-radius: 5px;
      border: 3px solid rgb(88 155 255);
      background: rgb(88 155 255);
      width: 100%;
      height: 40px;
      color: white;
      margin-top: 20px;
      cursor: pointer;

      &:hover {
        background: rgb(88 155 255);
        color: white;
      }

      @include breakpoint(md) {
        width: 90px;
        margin-top: 0px;
      }
    }
  }
}

.table {
  &__label {
    float: left;
    margin-left: 20px;
  }
  &__useYN {
    margin-left: 20px;
  }
  &__selectBox {
    width: 60%;
    height: 30px;
  }
  &__textField {
    width: 60%;
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
      height: 30px;
    }
  }
}

td {
  min-width: 60px;
}
