// @mixin set-color {
//     color: #fff;
//     background-color: yellow;
//   }
   
//   h1 {
//     @include set-color
//   }
   
//   p {
//     @include set-color
//   }

h3 {
  border: 1px solid black; 
  width: 85%; 
  margin-left: 22px;
  height: 250px;
}

.banners {
  border: 1px solid black; 
  height: 250px;
}