@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$color: #4ad395;
$color-dark: #23004d;
$color-darkblue: darkslateblue;
$color-light: #a49eac;
$color-lighten: #f2f2f2;
$color-hover: #65bf97;
$font: 'Open Sans', sans-serif;
$big-font-size: 1.5rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$primary: #00fcd1;
$secondary: #04dfbd;
$border-radius: 12px;
$prim: #53e3a6;

@media screen and (min-width: 768px) {
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: $normal-font-size;
  color: $color-dark;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.login {
  display: block;
  grid-template-columns: 100%;
  height: calc(100vh - 51px);
  // height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  &__content {
    display: grid;
    // height: 80%;
    margin-left: 0;
  }
  &__img {
    justify-self: center;

    img {
      width: 310px;
      margin-top: 1.5rem;
    }
  }
  &__forms {
    position: relative;
  }
  &__register,
  &__create {
    position: relative;
    bottom: 1rem;
    width: 100%;
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    // box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
    animation-duration: 0.4s;
    animation-name: animateLogin;
    .sub-title {
      color: steelblue;
      font-weight: bold;
    }
  }
  &__title {
    color: $color-darkblue;
    font-size: $big-font-size;
    margin-bottom: 1rem;
  }
  &__box {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.5rem;
    padding: 1rem 1rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }
  &__icon {
    font-size: 1.5rem;
    color: $color;
  }
  &__inputs {
    padding: 20px 0;
    position: relative;
    z-index: 2;
    input {
      text-align: left;
      color: #000;
      font-weight: bold;
      appearance: none;
      outline: 0;
      border: 0;
      border-radius: 15px;
      background-color: whitesmoke;
      width: 100%;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      font-size: 18px;
      transition-duration: 0.25s;
      opacity: 1;
      visibility: visible;

      &:hover {
        transition: all 0.3s ease;
        background-color: rgba(0, 0, 0, 0.5);
      }

      &:focus {
        width: 300px;
      }
    }
    .danger {
      color: #ff0000;
      float: left;
      margin-bottom: 10px;
    }
    .ask-account {
      margin-top: 30px;
      .login__signup--signup {
        margin-left: 15px;
      }
    }
  }
  &__input {
    border: none;
    outline: none;
    font-size: $normal-font-size;
    font-weight: 700;
    color: $color-dark;
    width: 100%;

    &::placeholder {
      font-size: $normal-font-size;
      font-family: $font;
      color: $color-light;
    }
  }
  &__forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: 0.5rem;
    font-size: $small-font-size;
    font-weight: 600;
    color: $color-light;
  }
  &__button {
    width: 100%;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 40px 45px 40px;
    margin: 0;
    border: 0;
    background: transparent;
    outline: none;
    .arrow-wrapper {
      transition: all 0.45s ease-in-out;
      position: absolute;
      margin: 0;
      width: 100%;
      height: 55px;
      right: 0;
      float: right;
      background: linear-gradient(90deg, $secondary, $primary);
      box-shadow: 0 3px 20px rgba($primary, 0.4);
      border-radius: $border-radius;
      .arrow {
        position: absolute;
        top: 50%;
        margin: auto;
        transition: all 0.45s ease-in-out;
        right: 35px;
        width: 15px;
        height: 2px;
        background: none;
        transform: translateY(-50%);
        &:before {
          position: absolute;
          content: '';
          top: -4px;
          right: 0;
          width: 8px;
          height: 8px;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg);
        }
      }
    }
    .button-text {
      font-size: 17px;
      transition: all 0.45s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      color: #fff;
      line-height: 55px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 12px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  &__account,
  &__signin,
  &__signup {
    font-weight: 600;
    font-size: $small-font-size;

    &--account {
      color: $color-dark;
    }
    &--signin,
    &--signup {
      color: #34862e;
      cursor: pointer;
    }
  }
  &__social {
    margin-top: 2rem;

    &--icon {
      font-size: 1.5rem;
      color: $color-dark;
      margin: 0 1rem;
    }
  }
  .alert {
    font-weight: 400;
    &__fail {
      color: #ff0000;
    }
  }
}
.block {
  display: block;
}
.none {
  display: none;
}
@keyframes animateLogin {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 576px) {
  .login {
    &__forms {
      width: 348px;
      justify-self: center;
    }
  }
}
@media screen and (min-width: 1024px) {
  .login {
    height: calc(100vh - 51px);
    // height: 100vh;
    overflow: hidden;
    &__content {
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      align-items: center;
      // margin-left: 10rem;
    }
    &__img {
      display: flex;
      width: 600px;
      height: 588px;
      background-color: #fff;
      border-radius: 1rem;
      padding-left: 1rem;

      img {
        width: 80%;
        margin-top: 0;
      }
    }
    &__register,
    &__create {
      // left: -11rem;
    }
    &__register {
      // bottom: -2rem;
    }
    &__create {
      // bottom: -5.5rem;
    }
  }
}
