@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

.carousel {
  &__img {
    &__banners {
      width: 100%;
      position: relative;
      img {
        width: inherit;
      }
    }
    &__list {
      width: 100%;
      position: relative;
      img {
        width: inherit;
      }
      &__like {
        position: absolute;
        top: 0;
        right: 0;
        .MuiSvgIcon-root {
          color: red;
        }
      }
    }
  }
}
